body {
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', Roboto, sans-serif;
    color: #2f2b43;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.ul {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(10, 1fr);
}

.li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #d7c9ff;
}

.counterBtn {
    width: 100px;
    padding: 15px;
    border: none;
    background: #c2b1f6;
    cursor: pointer;
    border-radius: 5px;
}

.counterBtn:hover {
    background: #d7cafb;
}

h3 {
    font-size: 36px;
    line-height: 1;
    margin: 0;

}

.input {
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #ede9fd;
    cursor: pointer;
}

.input:focus {
    outline: none;
    border: 3px solid #7861a1;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #cfcdcf;
    cursor: pointer;
}
button:hover {
    background: #a8a5a8;
}

.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.user-info{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px
}

.itemCart{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
}
.cartItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.btnWrapper{
    display: flex;
    gap: 5px
}